body{
    /* padding: 0;
    margin: 0; */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 50px; */
}

.form-box {
    margin:50px;
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1), 
                0 32px 64px -48px rgba(0,0,0,0.5);
}

.form-box h1{
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
    color: black;
}

.field-name-group{
    display: flex;
    margin-bottom: 10px;
}

.field-group{
    display: flex;
    margin-bottom: 10px;
}

.form-control {
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding:  0 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    position: relative;

}

.txtarea{
    height: 100px;
    width: 100%;
    font-size: 16px;
    padding:  0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.field-send{
    display: flex;
    justify-content: center;        
}

.btn-field{
    height: 35px;
    background: grey;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 0px 20px;
    margin-left: 10px;
}

.btn-field:hover{
    opacity: 0.82;
}